@using System.Security.Claims;
@model LibraryManager.Models.Books.IndexViewModel

@{
    ViewData["Title"] = "Books";

    var claimsIdentity = User.Identity as ClaimsIdentity;
    if (claimsIdentity != null)
    {
        var role = claimsIdentity.FindFirst(ClaimTypes.Role);
        ViewData["isAdmin"] = role?.Value == Roles.Admin;
    }
}

@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["ErrorMessage"]");
        };
    </script>
}

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Leased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Reserved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Leased)
                </td>
                @{
                    if (ViewData["isAdmin"] as bool? == false && book.CanReserve())
                    {
                         <td>
                            @using (Html.BeginForm("MakeReservation", "Books", null, FormMethod.Post, true, null))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" asp-for="Id" value="@book.Id" />
                                <input type="hidden" asp-for="RowVersion" value="@book.RowVersion" />
                                <button class="btn btn-warning" asp-controller="Books" asp-action="MakeReservation">Make a reservation</button>
                            }
                        </td>
                    }
                    else
                    {
                        <td />
                    }
                }
            </tr>
        }
    </tbody>
</table>